## SQL Queries - Case Study for Muse group
---
Candidate: **Nicolas Frate**

In [1]:
# Loading configurations
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql import DataFrame
import pyspark.sql.functions as F
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from functools import reduce
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import time 
from datetime import datetime, date, timedelta


app_name = "MUSE SQL"

# setup spark configs
conf = SparkConf().setAppName(app_name)\
    .set("spark.dynamicAllocation.maxExecutors", 143)\
    .set('spark.rpc.message.maxSize','256')\
    .set("spark.sql.orc.impl", "native")\
    .set("spark.sql.hive.convertMetastoreOrc", "true")\
    .set("spark.sql.orc.enableVectorizedReader", "true")\
    .set("spark.sql.execution.arrow.pyspark.enabled", "false")\
    .set("spark.sql.sources.partitionOverwriteMode","dynamic")\
    .set("spark.sql.qubole.directWrites.dataSourceDynamicParitionOverwrite.enabled", "true")\
    .set("spark.sql.qubole.directWrites.dynamicPartitionOverwrite.enabled", "true")\
    .set("spark.sql.repl.eagerEval.enabled", "true")\
    .set('spark.sql.legacy.timeParserPolicy','LEGACY')\
    .set("hive.exec.dynamic.partition", "true")\
    .set("hive.exec.dynamic.partition.mode", "nonstrict")\
    .set("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog")\
    .set("spark.sql.catalog.spark_catalog.type", "hive")\
    .set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    
sc = SparkContext(conf = conf)

spark = SparkSession.builder.enableHiveSupport()\
        .config(conf=conf)\
        .getOrCreate()

In [2]:
events = spark.createDataFrame(pd.read_csv('Events.csv')).dropna()
sales = spark.createDataFrame(pd.read_csv('Sales.csv')).dropna()

events.createOrReplaceTempView('events_data')
sales.createOrReplaceTempView('sales_data')

### Build an event funnel for the data via query
---

In [3]:
%%sparksql

select
eventname
,sum(sessions) as sessions
,sum(totalusers) as totalusers
from events_data
group by 1
order by 2 desc

### Separate by Pass and OTP
---

In [4]:
%%sparksql -l 30

select
purchaseType
,eventname

,sum(sessions) as sessions
,sum(totalusers) as totalusers

from events_data
group by 1,2
order by 1,3 desc

Conversion Rate by Purchase type

In [5]:
%%sparksql -l 30

with data as (
    select
    purchaseType
    ,eventname

    ,sum(sessions) as sessions
    ,sum(totalusers) as totalusers

    from events_data
    group by 1,2
    order by 1,3 desc
)

select
purchaseType 
,sum(case when eventname in ('purchase') then totalusers end) / sum(case when eventname in ('add_to_cart', 'subcription_view') then totalusers end) as conversion_rate
from data
where purchaseType != 'NaN'
group by 1

### How should the funnels differ? What might explain the difference?
---
The main difference I see is the conversion volumes. OTP types have a huge CR of 60% compare to 7% in Subscription and this make sense as both are very different source of revenue or alternatives for the customers

### Compare difference in traffic & conversion rates month over month
> How would we determine if conversion rate has improved?
---

**Pulling the data to answer the questions**  
First I build a query with aggregations by date, in order to have a raw table from where to calculate other metrics â¬‡

In [6]:
%%sparksql

select
to_date(e.date, 'dd-MMM-yy') as event_date

,sum(sessions) as sessions
,sum(totalusers) as totalusers

,s.subscription
,s.otp

,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'subcription_view' then e.totalusers end) as users_subcription_view
,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'purchase' then e.totalusers end) as users_subcription_purchase

,sum(case when e.purchaseType = 'OTP' and e.eventname= 'add_to_cart' then e.totalusers end) as users_otp_view
,sum(case when e.purchaseType = 'OTP' and e.eventname= 'purchase' then e.totalusers end) as users_otp_purchase

from events_data e
left join sales_data s on to_date(e.date, 'dd-MMM-yy') = to_date(s.date, 'MM/dd/yyyy')

group by 1,4,5

only showing top 20 row(s)

On top of this table I calculate the rest of the metrics where we can easily change the granularity by day, week, month â¬‡

In [7]:
%%sparksql -l 30

with muse_data as (

    select
    to_date(e.date, 'dd-MMM-yy') as event_date

    ,sum(sessions) as sessions
    ,sum(totalusers) as totalusers

    ,s.subscription
    ,s.otp

    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'subcription_view' then e.totalusers end) as users_subcription_view
    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'purchase' then e.totalusers end) as users_subcription_purchase

    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'add_to_cart' then e.totalusers end) as users_otp_view
    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'purchase' then e.totalusers end) as users_otp_purchase

    from events_data e
    left join sales_data s on to_date(e.date, 'dd-MMM-yy') = to_date(s.date, 'MM/dd/yyyy')

    group by 1,4,5

)

select

date(date_trunc('month', event_date)) as event_month
,sum(sessions) as sessions
,sum(totalusers) as total_users
,round((sum(users_subcription_purchase) / sum(users_subcription_view))*100,2) as sub_conversion_rate
,round((sum(users_otp_purchase) / sum(users_otp_view))*100,2) as otp_conversion_rate

,round(sum(subscription),2) as subscription_sales
,round(sum(otp),2) as otp_sales
,sum(subscription) / sum(users_subcription_purchase) as avg_subscription_order_value
,sum(otp) / sum(users_otp_purchase) as avg_otp_order_value


,(sum(subscription) + sum(otp)) / sum(totalusers) as arpu_tota_users
,(sum(subscription) + sum(otp)) / (sum(users_subcription_view) + sum(users_otp_view)) as arpu__active_users

from muse_data

group by 1

order by 1

In [8]:
%%sparksql -l 30

with muse_data as (

    select
    to_date(e.date, 'dd-MMM-yy') as event_date

    ,sum(sessions) as sessions
    ,sum(totalusers) as totalusers

    ,s.subscription
    ,s.otp

    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'subcription_view' then e.totalusers end) as users_subcription_view
    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'purchase' then e.totalusers end) as users_subcription_purchase

    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'add_to_cart' then e.totalusers end) as users_otp_view
    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'purchase' then e.totalusers end) as users_otp_purchase

    from events_data e
    left join sales_data s on to_date(e.date, 'dd-MMM-yy') = to_date(s.date, 'MM/dd/yyyy')

    group by 1,4,5

)

select

date(date_trunc('week', event_date)) as event_month
,sum(sessions) as sessions
,sum(totalusers) as total_users
,round((sum(users_subcription_purchase) / sum(users_subcription_view))*100,2) as sub_conversion_rate
,round((sum(users_otp_purchase) / sum(users_otp_view))*100,2) as otp_conversion_rate

,round(sum(subscription),2) as subscription_sales
,round(sum(otp),2) as otp_sales
,sum(subscription) / sum(users_subcription_purchase) as avg_subscription_order_value
,sum(otp) / sum(users_otp_purchase) as avg_otp_order_value


,(sum(subscription) + sum(otp)) / sum(totalusers) as arpu_tota_users
,(sum(subscription) + sum(otp)) / (sum(users_subcription_view) + sum(users_otp_view)) as arpu_active_users

from muse_data

group by 1

order by 1

> How would we determine if conversion rate has improved?  
We can track the weekly/monthly performance trying to see if there is a positive change on the trend. Also we can try to measure incrementality of mkt campaigns as positive signs of improvement. 

### Revenue and CR Analysis

- **Traffic:** Sessions and users decrease by -5% MoM, this might be due to natural monthly fluctation (like seasonality)
- **Conversion Rate:**  
    - Subscription has a drop of 3 points and OTP seems to have an stable performance arround 60% (+/- 1.6% standard deviation)
    - Weekly Subscription CR have a negative trend, there is a drop of 11 points from Abril to end of May
- **AOV**
    - subscription: 44  
    - OTP: 11
- **ARPU**
    - It's not clear from the data if 'total_uses' are active/unique users, im calculating 2 'types' of ARPU value:
    - **ARPU total users:** 0.25 --> total sales (Sub + OTP) over Total users
    - **ARPU active users:** 5.48 --> for this exercise, Im assuming that only those users that trigger the event 'subcription_view' or 'add_to_cart' are active. This help to quantify how important is engagement with the brand/site
    - Both ARPU calculation are very consistent, daily and weekly, with low volatility

#### What would be your approach to measuring a revenue impact in A/B testing? What metrics would you use?

I belive ARPU and Conversion rate are good metrics for an A/B test. Depending what do we want to test, the approach could be causal impact analysis with observational data to try to measure incrementality or testing changes within the product that could improve/optimize the funnel or some steps on it.

In [9]:
spark.sql("""

with muse_data as (

    select
    to_date(e.date, 'dd-MMM-yy') as event_date

    ,sum(sessions) as sessions
    ,sum(totalusers) as totalusers

    ,s.subscription
    ,s.otp

    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'subcription_view' then e.totalusers end) as users_subcription_view
    ,sum(case when e.purchaseType = 'Subscription' and e.eventname= 'purchase' then e.totalusers end) as users_subcription_purchase

    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'add_to_cart' then e.totalusers end) as users_otp_view
    ,sum(case when e.purchaseType = 'OTP' and e.eventname= 'purchase' then e.totalusers end) as users_otp_purchase

    from events_data e
    left join sales_data s on to_date(e.date, 'dd-MMM-yy') = to_date(s.date, 'MM/dd/yyyy')

    group by 1,4,5

)

select

date_trunc('week', event_date) as event_month
,sum(sessions) as sessions
,sum(totalusers) as totalusers
,round((sum(users_subcription_purchase) / sum(users_subcription_view))*100,2) as sub_cr
,round((sum(users_otp_purchase) / sum(users_otp_view))*100,2) as otp_cr

,round(sum(subscription),2) as subscription_sales
,round(sum(otp),2) as otp_sales
,sum(subscription) / sum(users_subcription_purchase) as avg_subscription_order_value
,sum(otp) / sum(users_otp_purchase) as avg_otp_order_value


,(sum(subscription) + sum(otp)) / sum(totalusers) as arpu_tota_users
,(sum(subscription) + sum(otp)) / (sum(users_subcription_view) + sum(users_otp_view)) as arpu_active_users

from muse_data

group by 1

order by 1 

""").toPandas().describe()

,sessions,totalusers,sub_cr,otp_cr,subscription_sales,otp_sales,avg_subscription_order_value,avg_otp_order_value,arpu_tota_users,arpu_active_users
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,761000.222222,704861.444444,9.617778,60.675556,62008.563333,117123.222222,44.920988,11.696812,0.254196,5.485915
std,100676.601006,94696.050558,5.076787,1.648166,8792.085134,16560.706703,6.528534,0.370768,0.006422,1.419103
min,516016.000000,475227.000000,6.640000,58.450000,39269.010000,79384.220000,37.934360,11.357048,0.247300,4.623333
25%,752668.000000,700630.000000,6.880000,59.140000,63271.420000,114756.470000,40.327869,11.485984,0.248429,4.697433
50%,796330.000000,737270.000000,7.030000,60.970000,63691.790000,119055.560000,42.009793,11.508792,0.255122,4.830761
75%,824520.000000,761771.000000,7.710000,61.000000,65666.140000,127245.240000,50.205464,12.044336,0.258086,4.942560
max,848328.000000,790152.000000,18.690000,63.770000,68731.280000,133206.820000,55.854404,12.363510,0.266019,8.259396

In [12]:
!jupyter nbconvert --to html MUSE.ipynb \
--TagRemovePreprocessor.remove_cell_tags='{"remove_cell"}'\
--TagRemovePreprocessor.remove_all_outputs_tags='{"remove_output"}'\
--TagRemovePreprocessor.remove_input_tags='{"remove_input"}'

[NbConvertApp] WARNING | Config option `kernel_spec_manager_class` not recognized by `NbConvertApp`.
[NbConvertApp] Converting notebook MUSE.ipynb to html
[NbConvertApp] Writing 611091 bytes to MUSE.html